.navbar {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    color: #5493ca;
    position: fixed;
    top: 0;
    background-color: white;
    background: white;
    border-bottom: 1px solid grey;
    z-index: 200;
}
/* .navbar p {
    margin-left: 20px;
} */
.navbar > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 400;
    margin-left: 20px;
}
.nav-arrow {
    background-color: #eff7fd;
    padding: 2px;
    border-radius: 6%;
}
.nav-digio {
}
